.ds-scroll-area {
  overflow-y: auto;
  overscroll-behavior: contain;
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--translucent-primitives-neutral-3) transparent;
}

.ds-scroll-area::-webkit-scrollbar {
  width: 9px;
}

.ds-scroll-area::-webkit-scrollbar-track {
  background: transparent;
}

.ds-scroll-area::-webkit-scrollbar-thumb {
  background: var(--translucent-primitives-neutral-3);
  border-radius: 2px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.ds-scroll-area::-webkit-scrollbar-thumb:hover {
  background: var(--translucent-primitives-neutral-4);
  background-clip: padding-box;
}
